body {
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

p, dl {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}

ul, ol {
  font-size: 1.25em;
}

ul ul {
  font-size: 0.9em;
}

ol ol {
  list-style-type: lower-alpha;
  font-size: 0.9em;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 10%;
  padding: 0;
  margin: 0
}
dd {
  float: left;
  width: 90%;
  padding: 0;
  margin: 0
}

.small-list {
  list-style-type: lower-alpha;
  font-size: 1em;
}

hr {
  border-color: #999999;
  max-width: 400px;
}

.image-section {
  margin-bottom: 50px;
}

.brand,
.address-bar {
  display: none;
}


.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.img-full {
  min-width: 100%;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.box {
  background: #fff;
  background: rgba(255,255,255,0.9);
  margin-bottom: 20px;
  padding: 30px 15px;
}

.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 400;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

.img-right {
  float: none;
  margin: 0 auto 0;
}

.img-center {
  margin: 0 auto 0;
}

footer {
  background: #fff;
  background: rgba(255,255,255,0.9);
}

footer p {
  margin: 0;
  padding: 10px 0;
}

@media screen and (min-width: 768px) {

.brand {
  display: inherit;
  font-weight: 700;
  font-size: 5em;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding: 30px 0 10px;
  color: #fff;
}

.brand a {
  color: inherit;
  text-decoration: none;
}

.top-divider {
  margin-top: 0;
}

.img-left {
  float: left;
  margin-right: 25px;
}

.address-bar {
  display: inherit;
  text-align: center;
  margin: 0;
  padding: 0 0 40px;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
  border-radius: 0;
}

.navbar-header {
  display: none;
}

.navbar {
  min-height: 0;
}

.navbar-default {
  background: #fff;
  background: rgba(255,255,255,0.9);
  border: none;
}

.nav>li>a {
  padding: 10px 20px;
}

.navbar-nav>li>a {
  line-height: normal;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  font-size: 1em;
}

}

@media screen and (min-width: 1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

.roman-list li {
  list-style-type: upper-roman;
}

.clean-list li {
  list-style: none;
  line-height: 1.5;
}

.cv-beskrivelse {
  margin-top: 20px;
}

.text-small {
  font-size: 0.75em;
}

.text-medium {
  font-size: 1em;
}

@media (min-width: 768px) {
  .dl-small dt {
    width: 100px;
  }
  .dl-small dd {
    margin-left: 120px;
  }
}

.embedded-video {
  margin-bottom: 50px;
}

.tooltipped {
  border-bottom: 1px dashed;
  cursor: help;
}
@media (min-width: 0px) {
  .galleria {
    height: 200px;
  }
}
@media (min-width: 768px) {
  .galleria {
    height: 300px;
  }
}
@media (min-width: 992px) {
  .galleria {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .galleria {
    height: 500px;
  }
}
.galleria { 
  width: 100%;
  background: rgba(255,255,255,0.0);
}

.galleria-theme-classic {
  background: rgba(255,255,255,0.0);
}